# Supabase Configuration
VITE_SUPABASE_URL=https://mlztrxjuhaneoidhmqsz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1senRyeGp1aGFuZW9pZGhtcXN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTkzMTMsImV4cCI6MjA5MTYzNTMxM30.igOIpjJDV7MrCHeNsMKbSb80XwB2GK8lCCA4CX0mUd4
